@inherits LayoutComponentBase

<PageTitle>NWC_Bills</PageTitle>

<div class="page">
    
    <main>
        <div class="top-row px-4">
            <a href="" target="_blank">المساعدة</a>
        </div>

        <article class="content px-4" style="text-align: right">
            @Body
        </article>
    </main>


    <div class="sidebar">
        <NavMenu />
    </div>

</div>